<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HockeySDK.WP" version="4.1.5" targetFramework="wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp8" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="wp8" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />
  <package id="Xamarin.Forms" version="2.3.3.168" targetFramework="wp8" />
</packages>